.HomeComponent {
  @apply bg-[#000814] h-full w-full flex flex-col-reverse justify-end px-[1.5rem] gap-[1.5rem];

  @screen tablet {
    @apply flex-row justify-center items-center min-h-screen;
  }

  @screen laptop {
    @apply visible;
  }

  .left-container {
    @apply visible w-[100%] flex flex-col justify-center items-center;

    @screen tablet {
      @apply w-auto;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .perfil-image-container {
    @apply visible flex justify-center items-center w-[70%];

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      width: calc(37rem * var(--scale));
    }
  }

  .logo-icons-container {
    @apply visible flex w-full h-auto justify-between;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply w-auto;
    }
  }

  .linkedin-container,
  .github-container,
  .gmail-container {
    @apply w-[15%] h-auto flex justify-center items-center;
  }

  .linkedin-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .github-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .gmail-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .rigth-container {
    @apply visible flex flex-col gap-[1rem];

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      width: calc(40rem * var(--scale));
    }

    h1 {
      @apply font-semibold text-[2rem];

      @screen tablet {
        @apply text-[4rem];
      }

      @screen laptop {
        font-size: calc(6rem * var(--scale));
      }
    }

    span {
      @apply text-[#FFC300];
    }

    p {
      @apply text-[1rem];

      @screen tablet {
        @apply text-[1.4rem];
      }

      @screen laptop{

        font-size: calc(1.5rem *var(--scale));

      }

    }
  }
}
