.TechnologiesHome {
  @apply flex justify-center items-center;

  .front-container,
  .back-container,
  .end-container {
    @apply absolute flex justify-center items-center w-full pointer-events-none ;

    @screen laptop {
      padding-top: calc(96px * var(--scale));
    }
  }

  .front,
  .back,
  .end {
    @apply flex text-5xl font-bold justify-center items-center w-full ;

    text-shadow: 0px 0px 10px black;

    @screen tablet {
      @apply text-7xl font-bold;
    }

    @screen laptop {
      @apply flex-col;
      line-height: 1;
      font-size: calc(7rem * var(--scale));
    }
  }

  .front {
    @apply text-white  justify-center items-start;

    @screen tablet{

      @apply !mb-[10rem] !mt-0  ;

    }

    @screen laptop {
      @apply !mb-0;

      padding-left: calc(9.2rem * var(--scale));
    }
  }

  .back {
    @apply text-white  justify-center items-end;

    @screen tablet {

      @apply !mt-[53rem] ;

    }

    @screen laptop {
      @apply !mt-0;

      padding-right: calc(9.2rem * var(--scale));
    }
  }

  .end {
    @apply text-white   justify-center items-center opacity-70; 

    @screen tablet {

      @apply mt-[23rem] ;

    }

    @screen laptop {
      @apply mt-0;
    }
  }

  .front-letter-container {
    @apply w-full bg-red-400;
  }

  .border-letter-white {
    text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white,
      1px 1px 0px white; /* Bordes alrededor del texto */
  }

  .border-letter-blue {
    text-shadow: -1px -1px 0px #007acc, 1px -1px 0px #007acc,
      -1px 1px 0px #007acc, 1px 1px 0px #007acc; /* Bordes alrededor del texto */
  }

  .border-letter-green {
    text-shadow: -1px -1px 0px #ffc300, 1px -1px 0px #ffc300,
      -1px 1px 0px #ffc300, 1px 1px 0px #ffc300; /* Bordes alrededor del texto */
  }

  .canvas-container {
    @apply flex justify-center items-center w-auto h-full;

    @screen tablet {
      @apply pt-28;
    }

    @screen laptop {
      padding-top: calc(6.2rem * var(--scale));
    }
  }
}
