.TechnologiesHome {
  @apply flex justify-center items-center;

  .front-container,
  .back-container,
  .end-container {

    @apply absolute flex justify-center items-center w-full pointer-events-none;

    @screen laptop {
      padding-top: calc(96px * var(--scale));
    }
  }

  .front,
  .back,
  .end {
    @apply flex text-5xl font-bold justify-center items-center w-full z-20;

    text-shadow: 0px 0px 10px black;

    @screen tablet {
      @apply text-7xl font-bold;
    }

    @screen laptop {
      @apply flex-col;
      line-height: 1;
      font-size: calc(7rem * var(--scale));
    }
  }

  .front {
    @apply text-white justify-center items-start z-40;

    @screen tablet {
      @apply !mb-[10rem] !mt-0;
    }

    @screen laptop {
      @apply !mb-0;

      padding-left: calc(9.2rem * var(--scale));
    }
  }

  .back {
    @apply text-white justify-center items-end z-40;

    @screen tablet {
      @apply !mt-[53rem];
    }

    @screen laptop {
      @apply !mt-0;

      padding-right: calc(9.2rem * var(--scale));
    }
  }

  .end {
    @apply text-white justify-center items-center;

    @screen tablet {
      @apply mt-[23rem];
    }

    @screen laptop {
      @apply mt-0;
    }
  }

  .front-letter-container {
    @apply w-full bg-red-400;
  }

  .canvas-container {
    @apply relative flex justify-center items-center w-auto h-full;

    @screen tablet {
      @apply pt-28;
    }

    @screen laptop {
      padding-top: calc(6.2rem * var(--scale));
    }
  }

  .text-hover {
    @apply flex  justify-center items-center  rounded-lg p-4;
    transition: 0.27s ease-in; /* Anima el crecimiento del ancho */

    @screen laptop {
      @apply absolute  text-white pointer-events-none z-30;

      border-radius: calc(0.5rem * var(--scale));
      padding-left: calc(1rem * var(--scale));
      padding-right: calc(1rem * var(--scale));
      padding-top: calc(0.8rem * var(--scale));
      padding-bottom: calc(0.8rem * var(--scale));
      font-size: calc(5.5rem * var(--scale));
    }
  }
}
