.codemorth-logo-container-movil-navbar {
  @apply absolute right-2 top-3 w-[5rem] h-auto z-20;

  @screen tablet {
    @apply hidden;
  }
}

.NavBar {
  @apply absolute right-0 z-10 w-full h-auto flex justify-end;

  @screen tablet {
    @apply justify-between h-[6rem] px-10;
  }

  @screen laptop {
    padding-right: calc(6rem * var(--scale));
    padding-left: calc(6rem * var(--scale));
  }

  .navbar-container {
    @apply flex flex-col justify-start bg-[#000814] min-h-screen overflow-hidden pt-8;

    @screen tablet {
      @apply flex-row min-h-[auto] gap-[0rem] justify-between items-center overflow-visible pt-0;
    }
  }

  .navbar-container.open {
    @apply w-[80%] max-w-[18.5rem]  h-[100%]  pl-[2.5rem];

    transition: 0.5s ease;

    @screen tablet {
      @apply h-auto p-0 max-w-full w-full;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .navbar-container.close {
    @apply w-0 max-w-[18.5rem]  h-[100%];

    transition: 0.5s ease;

    @screen tablet {
      @apply h-auto p-0 max-w-full w-full;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .container-switch-logo {
    @screen tablet {
      @apply flex flex-row-reverse w-auto justify-between;
    }
  }

  .switch-container {
    @apply flex  items-center gap-[0.7rem] font-semibold;

    @screen tablet {
      @apply absolute left-12  top-24;
    }

    @screen laptop {
      @apply static;
    }

    h1 {
      @apply text-[1.2rem];
    }

    .active {
      @apply text-[#FFC300];
    }
  }

  .switch-container,
  .active {
    @apply flex  items-center gap-[0.7rem];

    h1 {
      @apply text-[1.2rem];
    }
  }

  .switch {
    @apply w-[3.8rem] h-[2rem] bg-[white] flex justify-start rounded-[5rem] p-[0.4rem] cursor-pointer;
  }

  .switch[data-on="true"] {
    @apply justify-end;
  }

  .handle {
    @apply w-[1.4rem] h-full bg-[#FFC300] rounded-[0.6rem];
  }

  .left-container {
    @apply visible flex w-0;

    @screen tablet {
      @apply visible w-auto flex justify-center items-center mr-5;
    }

    @screen laptop {
      @apply visible gap-3;
    }

    p {
      @apply w-0 overflow-hidden text-[1.3rem] font-semibold;

      @screen tablet {
        @apply w-auto;
      }
    }

    span {
      @apply text-[#FFC300];
    }
  }

  .codemorth-logo-container-laptop {
    @apply w-[3.5rem];
  }

  .codemorth-logo-container-movil {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .rigth-container {
    @apply flex flex-col overflow-hidden relative gap-3;

    @screen tablet {
      @apply flex-row overflow-visible gap-0;
    }
    /* 
    @screen laptop {
      @apply visible;

      gap: calc(5rem *var(--scale))


    } */

    a {
      @apply text-[1.3rem] font-semibold;

      @screen tablet {
        @apply font-normal text-center p-2;
      }

      @screen laptop {
        font-size: calc(max(1.3rem, 1.55rem * var(--scale)));
        padding-left: calc(3rem * var(--scale));
        padding-right: calc(3rem * var(--scale));
      }
    }
  }

  /* Line NavBar */

  .highlight-line {
    @screen tablet {
      @apply absolute bg-[#FFC300] z-auto rotate-[-12deg] pointer-events-none;
    }

    transition: left 0.3s ease-in-out, width 0.3s ease, height 0.13s ease-in-out,
      rotate 0.3s ease-in-out, transform 0.13s ease-in-out,
      bottom 0.13s ease-in-out;
  }
}

.NavBar.open {
  @apply w-[100%];

  transition: 0.5s ease;
}

.NavBar.close {
  @apply w-0;

  transition: 0.5s ease;

  @screen tablet {
    @apply w-full;
  }
}
