@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{

  @apply text-[white] bg-[#000814];

  font-family: "Inter", sans-serif;

}

.main-page {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  background-image: var(--bg-img);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
