.principal-container{

  

}


/*Animation SVG MiduDev*/

#SVGCreationAnimation {
    fill-opacity: 0;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: dash 2s ease-in-out forwards;
    stroke-width: 20;
  }
  
  @keyframes dash {
    70% {
      fill-opacity: 0;
      stroke-width: 15;
    }
  
    85% {
      stroke-width: 10;
    }
  
    95% {
      stroke-width: 5;
    }
  
    100% {
      fill-opacity: 100%;
      stroke-dashoffset: 0;
      stroke-width: 0;
    }
  }
  
  /*Animation SVG MiduDev*/