.ProjectHome {
  @apply flex flex-col gap-40 w-full h-full pt-24 ;

  @screen tablet {
    @apply justify-around items-center gap-0;
  }

  @screen laptop {
    @apply min-h-screen flex flex-col items-center gap-0 justify-around overflow-hidden;

    padding-top: calc(8.4rem * var(--scale));


  }

  h1 {
    @apply font-bold text-[#FFC300] text-5xl text-center;

    @screen tablet {
      @apply text-7xl;
    }

    @screen laptop {
      font-size: calc(5.4rem * var(--scale));
    }
  }

  .projectCard-container {
    @apply flex flex-col justify-center items-center gap-52 w-full pb-36;

    @screen tablet {
      @apply flex-row justify-evenly gap-0 pb-0;
    }

    @screen laptop {
      @apply justify-center items-center ;

      gap: calc(25rem * var(--scale));
    }
  }
}
