.ProjectCard {
  @apply flex relative flex-col justify-center items-center border-[1px] w-auto px-8 py-2 rounded-lg;

  transform-style: preserve-3d; /* Habilita el renderizado en 3D */
  perspective: 1000px; /* Controla la profundidad 3D */

  @screen laptop {
    width: calc(20rem * var(--scale));
    height: calc(20rem * var(--scale));
    gap: calc(1rem * var(--scale));
  }

  .image-container {
    @apply w-full h-full flex justify-center items-center;
    transform-style: preserve-3d; /* Habilitar el renderizado 3D */

    @screen laptop {
      height: calc(13rem * var(--scale));
    }

    transform: translateZ(50px); /* Hace que la imagen "salte" hacia adelante */
  }

  h3 {
    @apply text-4xl font-semibold;
    font-size: calc(2.2rem * var(--scale));
    transition: font-size 0.3s ease; /* Transición suave para el tamaño de la fuente */
    transform: translateZ(80px); /* Hace que el texto "salte" hacia adelante */
  }
}

.ProjectCard:hover {
  h3 {
    @screen laptop {
      font-size: calc(2.9rem * var(--scale));

      @apply font-bold;
    }
  }
}
