.ProjectHome {
  @apply flex flex-col gap-6 pt-24 w-full h-full;

  @screen tablet {
    @apply justify-start items-center;
  }

  @screen laptop {
    @apply min-h-screen flex flex-col items-center justify-center;

    gap: calc(3.5rem * var(--scale));
  }

  h1 {
    @apply font-bold text-[#FFC300] text-5xl text-center;

    @screen laptop {
      font-size: calc(5.4rem * var(--scale));
    }
  }

  .projectCard-container {
    @apply flex justify-around gap-10 w-full h-full;

    @screen laptop {
      @apply justify-center items-center;

      gap: calc(12rem * var(--scale));
    }
  }
}
