.HomeComponent {
  @apply bg-[#000814] h-auto w-full flex flex-col-reverse justify-end gap-[2rem];

  @screen tablet {
    @apply flex-row pt-0 justify-center items-center min-h-screen gap-[3rem];
  }

  @screen laptop {
    gap: calc(10rem * var(--scale));
  }

  .left-container {
    @apply visible w-[100%] flex flex-col justify-center items-center max-w-[25rem] m-auto;

    @screen tablet {
      @apply w-auto m-0;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .perfil-image-container {
    @apply visible flex justify-center items-center w-[70%] max-w-96;

    @screen tablet {
      @apply min-w-60 w-full max-w-[35rem];
    }

    @screen laptop {
      width: calc(37rem * var(--scale));
    }
  }

  .logo-icons-container {
    @apply visible flex w-full h-auto justify-between;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply w-auto;
    }

    img{

      @screen laptop{

        width: calc(10rem *var(--scale));


      }

    }

  }

  .linkedin-container,
  .github-container,
  .gmail-container {
    @apply w-[15%] h-auto flex justify-center items-center;
  }

  .linkedin-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .github-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .gmail-container {
    @apply visible;

    @screen tablet {
      @apply visible;
    }

    @screen laptop {
      @apply visible;
    }
  }

  .rigth-container {
    @apply visible flex flex-col gap-[1rem];

    @screen tablet {
      @apply max-w-[28rem];
    }

    @screen laptop {
      width: calc(40rem * var(--scale));
      max-width: calc(40rem * var(--scale));
    }

    h1 {
      @apply font-semibold text-[2rem];

      @screen tablet {
        @apply text-[4rem];
      }

      @screen laptop {
        font-size: calc(6rem * var(--scale));
      }
    }

    span {
      @apply text-[#FFC300];
    }

    p {
      @apply text-[1rem];

      @screen tablet {
        @apply text-[1.4rem];
      }

      @screen laptop {
        font-size: calc(max(1.2rem,1.5rem * var(--scale)));
      }
    }
  }
}
